
@{
    ViewBag.Title = "Thank You";
}

<div class="jumbotron text-xs-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Please check your email</strong> for your printable or mobile tickets.</p>
    <hr>
    
    <p class="lead">
        <button onclick="clearCart()">
        @Html.ActionLink("Continue to homepage","Index","Home")
        </button>
    </p>
</div>

