@model Events.Models.TicketModel

@foreach (var item in Model.Events)
{
    @Html.Partial("_carRow", item)
}


<div class="row">
    <div class="pull-right">
        <div class="lead">
            Total:
            @Html.DisplayFor(m => m.TotalPrice, Model.TotalPrice)
        </div>
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Proceed To Checkout", "Checkout", "Ticket")
        }
        else
        {
            @Html.ActionLink("Proceed To Checkout", "Login", "Account")
        }
    </div>
    
</div>
