
@model Events.Models.TicketModel

@if (Model.Events.Any())
{
    <h3>Your Events:</h3>
    <ul>
        @foreach (var item in Model.Events)
        {
            <li>@item.Title
            <button class="btn btn-danger" onclick="removeFromCartHP('@item.TrackerId')"><i class="glyphicon glyphicon-remove"></i></button>
            </li>
        }
    </ul>
    <div class="lead">
    @Html.ActionLink("View Shopping Cart", "Checkout", "Home")
    </div>
}
else
{
<h4>You have no Events</h4>}